.curtain-enter,
.curtain-exit {
  transition: height 650ms;
}

.curtain-enter,
.curtain-exit.curtain-exit-active,
.curtain-exit-done {
  height: 0;
}

.curtain-enter-active,
.curtain-enter-done,
.curtain-exit {
  height: 100%;
}

.curtain-exit-active .controls {
  display: none !important;
}
